$navbar-default-bg: #00cccc;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-transform: none;
}

.center{
	text-align: center;
}

.jumbotron{

	background-image: asset-url('imagesx.jpg');
	background-size: cover;
	height: 550px;

}

.jumbotron h1{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;



}

.btn-xlarge {
	font-size: 1.7em;
	background-color: black;
}

.article-action{
	border-top:  1px solid #eaeaea;
	padding-top: 5px;
}

.description{
	margin-top: 0px;
	
}

.article-title{
	font-weight: bold;
	font-size: 1.5em;
}

.article-body{
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;


}


footer ul {
	float: right;
	list-style: none;

}